.Login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.Login form {
  width: 500px;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.Login h2 {
  color: #333333;
  margin-bottom: 10px;
  margin-left: 200px;
}

.Login label {
  display: block;
  margin-bottom: 5px;
}

.Login input[type="text"], .Login input[type="password"] {
  width: 80%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
}

.Login .Forgot-Pass{
  
  position: absolute;
  padding-top: 10px;
  top:515px;

  margin-bottom: 20px;
}
.Login .Forgot-Pass a{
  color: black;
  text-decoration: solid;
  text-decoration: underline;
}
.password-icon {
  position: absolute;
  right: 780px;
  top: 53%;
  transform: translateY(-50%);
  cursor: pointer;
}

.Login button {
  width: 100%;
  padding: 10px;
  padding-top: 10px;
  margin-bottom: 10px;
  background-color: black;
  border: none;
  color: #ffffff;
  cursor: pointer;
}

.Login button:hover {
  background-color: #0056b3;
}
